.custom-seekbar-marker {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
  }