.custom-seekbar-marker {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
  }

  .vjs-progress-holder.vjs-slider.vjs-slider-horizontal {
    background: #3e3e3e !important;
}