.homepage-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  text-align: center;
  background-color: #fff;
}
.form-container {
  width: 100%;
  height: 15%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.comment-submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-player-container {
  height: 65%;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #fbfbfb;
}
.video-box{
  height: 80%;
  width: 70%;
  margin: auto;
  text-align: center;
}
.comment-container {
  text-align: left;
  width: 100%;
  margin: 20px auto;
}
.comment-container > div {
  background: #e1e1e1;
  padding: 3px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #000;
  box-sizing: border-box;
}
.comment-box {
  display: flex;
  align-items: center;
  align-content: center;
}
.comment-box p {
  padding: 5px;
}
